#root {
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	background: url(images/KJJ.jpg) no-repeat;
	background-position: top center;
	width: 1200px;
	height: 5000px;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: black;
}

.menu {
	background-color: white;
	box-shadow: 0px 0px 4px #767676;
	margin: 3px;
	padding: 3px;

}

.menu a {
	padding: 5px;
	font-size: 15px;
}

.mens {
	background-color: white;
	box-shadow: 0px 0px 4px #767676;
}

#first {
	margin-top: 300px;
	margin-left: 110px;
	width: 450px;
	border-top-left-radius: 5px;
}

#frst div {
	display: inline-block;
	height: 20px;
}

#frst input {
	margin-left: -7px;
	margin-right: -3px;
}

input {
	box-shadow: 0px 0px 4px #767676;
    border: 1px solid #f2f2f2;
	width: 220px;
	height: 22px;
	background-color: #f2f2f2;
	padding-left: 5px;
}

#poisk {
	width: 30px;
	background-color: #f2f2f2;
	color: white;
	margin-left: -4px;
	vertical-align: -5.5px;
	border-top-right-radius: 5px;
}

#menu_serials {
    height: 10px;
    background-color: #272727;
    border: 1px solid #272727;
    border-radius: 4px;
}
#menu_serials a {
    color: white;
}

	.triangle {
        margin-top: 2.5px;
		width: 0;
		height: 0;
		border-left: 5px solid #2e8fcf;
		border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
	}

	.triangle-up-left {
		width: 0;
		height: 0;
		border-bottom: 10px solid black;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}

	.zagolovokk {
		font-size: 12px;
		background-color: #f2f2f2;
		width: 222px;
		border-top: 3px solid #f2f2f2;
		border-bottom: 1px solid #d3d3d4;
		padding: 8px;
		padding-left: 10px;
		font-weight: 600;
		padding-top: 10px;
		padding-bottom: 15px;
	}

	#second {
		margin-left: 110px;
		float: left;
		width: 716.5px;
		padding-bottom: 5px;
        margin-top: 3px;
        margin-right: 6px;
        height: 700px;
	}

    .way {
        display: inline-block;
        font-size: 12px;
        margin-left: 15px;
        margin-top: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .way div {
        float: left;
        margin-right: 10px;
    }
    .way a { color: #2e8fcf;}
    .way a:hover {text-decoration: underline;}
    #activeserial { 
        display: inline-block;
        margin-left: 15px;
    }
    #activeserial div { 
        float:left; 
        margin-right: 10px;
    }
    .daadssadasd { vertical-align: +5px;}
    .runame {
        font-size: 22px;
    }
    .engname {
        font-size: 14px;
        color: #b19f99;
    }

.square {																		
	display: inline-block;
	width: 5px;
	height: 40px;
	background-color: red;
}

	#loginmenu {
		background-color: #f2f2f2;
		display: inline-block;
		width: 240px;
		height: 35px;
		padding-top: 30px; 
		padding-bottom: 10px;
		color: #3498dc;
		
		box-shadow: 0px 0px 4px #767676;
		margin-top: 3px;
		margin-bottom: 6px;
		font-weight: bolder;
		font-size: 13px;
		position: relative;
    }
    #loginmenu a:hover {
		text-decoration: underline;
		color: #2176ad;
	}
	#loginmenu:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 25px solid #f2f2f2;
		border-left: 3px solid transparent;
		border-right: 19px solid transparent;
		transform: rotate(-25deg);
		bottom: 64px;
		left: 15px;
	   }
	   
	#vhod {
		border-right: 2px solid #c2c2c2;
		color: #3498dc;
		padding-left: 30px;
		padding-right: 30px;
	}

	#vhodd {
		padding-left: 30px;
		color: #3498dc;	
	}

	#logginandnewTV { 
		float: left;
		width: 240px;
	}

	#logginandnewTV div { 
		display: inline-block;
	}

	#lastiblock {
		padding-bottom: 5px;
	}

	.newserials {
		margin-top: 15px;
	}

	.kartinki {
		position: relative;
		width: 240px;
		height: 143px;
	}

	.shadow {
		background-color: black;
		position: absolute;
		bottom: 0px;
		width: 240px;
		height: 30px;
		opacity: 0.75;
	}

	.numberofseria  {
		position: absolute;
		bottom: 5px;
		left: 10px;
		color: white;
		opacity: 1;
	}

	.dataofseria  {
		position: absolute;
		bottom: 5px;
		right: 10px;
		color: white;
		opacity: 1;
	}


    .newsimages img{
		display: none;
	}
	